/// Get property declaration in rem units
///
/// @access public
///
/// @author Radmir Nabiullin
///
/// @example scss — using
///   .foo {
///     @include get-rem(margin, 10, 20, 30, 15);
///   }
///
/// @example css — Output CSS
///   .foo {
///     margin: 0.625rem 1.25rem 1.875rem 0.9375rem;
///   }
@mixin get-rem($property, $values...) {
  $max: length($values);
  $remValues: "";

  @for $i from 1 through $max {
    $value: calculate-rem(nth($values, $i));
    $remValues: #{$remValues + $value};

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }
  #{$property}: $remValues;
}
