/// Font family property declaration
///
/// @access public
///
/// @author Radmir Nabiullin
///
/// @type List
$font-family--josefin-sans: ("Josefin Sans", sans-serif);
$font-family--arimo: ("Arimo", sans-serif);
$font-family--eb-garamond: ("EB Garamond", serif);
