$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 1024px,
  xl: 1300px
);

$primary: $color-name--carnation;
$secondary: $color-name--black;
$link-color: $color-name--black;
$link-hover-color: $color-name--carnation;
$font-family-sans-serif: $font-family--arimo, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: $font-family--josefin-sans;
$input-color: $color-name--silver-chalice;
$input-border-color: $color-name--mercury;
$border-color: $color-name--mercury;


@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
